@import "/static/css/style.css";
@import "/static/css/sidebar.css";
@import "/static/css/about.css";
@import "/static/css/publish.css";
@import "/static/css/post.css";
@import "/static/css/markdown.css";
@import "/static/css/cookie.css";
@import "/static/css/context-menu.css";
@import "/static/css/friends.css";

@import "https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.2.0/github-markdown.min.css";

.beta-badge {
    background: var(--accent);
    color: #fff;
    padding: 2px 6px;
    font-size: 0.7rem;
    font-weight: 800;
    border-radius: 5px;
}